@inject IBookEventFacade _bookEventFacade
@{ 
    ViewData["Title"] = "All Book Events";
    Layout = "_Layout";
    var getDetails = _bookEventFacade.GetDetails();
    var upsomingBookEvent = getDetails.GetUpcomingBookEvent().Result;
    var pastBookEvent = getDetails.GetPastBookEvent().Result; }


<div class="container">
    <h2 class="display-4 text-monospace text-muted">All Book Events</h2>
    <hr class="hr mt-0" />
    <h3 class="d-block text-muted text-monospace font-weight-bold pt-3">Upcoming Book Events</h3>
    <div class="row">
        @{ foreach (var bookEvent in upsomingBookEvent)
            {

<partial name="_showBookEvent" model="@bookEvent" /> } }
    </div>

    <h3 class="d-block text-muted text-monospace font-weight-bold pt-4">Past Book Events</h3>
    <div class="row d-flex justify-content-center">
        <div class="row">
            @{ foreach (var bookEvent in pastBookEvent)
                {
    <partial name="_showBookEvent" model="@bookEvent" /> } }
        </div>

    </div>
</div>
