<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bolder text-uppercase strong">Login As</h1>
            
            <div class="d-flex justify-content-around">
                <a routerLink="/getallresults" class="btn btn-outline-danger my-5 px-5 fw-bold">Teacher</a>
                <a routerLink="/findresult" class="btn btn-outline-success my-5 px-5 fw-bold">Student</a>
            </div>
        </div>
    </div>
</section>