
<footer class="border-top footer text-muted text-center">
    <div class="container">
        <div class="row justify-content-around pl-0 pr-0">


            <div class="font-weight-bold ml-0">
                Copyright &copy; Go Reading @DateTime.Now.Year
            </div>

            <div class="mr-0">
                <a href="https://servicedesk.nagarro.com/" class="btn btn-outline-info">Service Desk Nagarro</a>
            </div>
        </div>
    </div>
</footer>
